<!DOCTYPE html>

<html>
    <header>
        <title>BaabnqWebIDE</title>
        <link rel="stylesheet" href="static/style.css">
    </header>
    <body>
        <div class="center">
            <h1 class="heading">Baabnq Web IDE</h1>
            
            <div>
<pre class="embed baabnq-source"    id="editor" contenteditable="true">
use 'libs/string.baabnq';
static 'hello world' _p;
push _p;
sub String::Print;
</pre>
                <pre class="embed" id="output" readonly></pre>
            </div>

            <br>
            <input class="biggreenbutton" id="runButton" type="button" value="Run"/>
            <text>Or press Ctrl + Enter to run</text>
            
            <br>
            <br>
            <text>The syntax highlighter will only update when the editor goes out of focus or when running the program. <br> Sorry for the technical limitations.</text>
        </div>
        
        


        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <script src="{{ url_for('static', filename='highlight.js') }}"></script>
    </body>
<html>